/* Código Base de Partida (Fase 1) */
body { 
    font-family: sans-serif; 
    background: #f4f4f4; 
    display: flex; 
    justify-content: center; 
    padding: 50px; 
}

.card { 
    background: white; 
    width: 300px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    overflow: hidden; 
}

.card-header { 
    background: #007bff; 
    height: 80px; 
}

.card-body { 
    padding: 20px; 
    text-align: center; 
}

/* --- NUEVO: Modificación Punto 2.3 --- */
.lista-de-habilidades {
    list-style: none; /* Quita los puntos de la lista  */
    margin-top: 15px; /* Añade el margen solicitado  */
    padding: 0;       /* Alinea la lista al centro eliminando el espacio lateral */
}

.lista-de-habilidades li {
    background: #eee;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
}